    <footer class="main-footer">
        <p class="copyright">Rockere 93, 2025 ©</p>
        <ul class="social-list">
            <li class="social-list-item">
                <a href="#"><img src="#" width="70" height="30" alt="ВКонтакте"></a>
            </li>
            <li class="social-list-item">
                <a href="#"><img src="#" width="70" height="30" alt="Telegram"></a>
            </li>
            <li class="social-list-item">
                <a href="#"><img src="#" width="70" height="30" alt="Instagram"></a>
            </li>
        </ul>
  </footer>